@using Auction.Application.Interfaces
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Auction.Domain.ViewModels.AuctionViewModel>
@inject ICategoryService CategoryService
@{
    var categories = CategoryService.GetCategories();
    ViewData["Title"] = "صفحه اصلی";
}




<section class="banner-section bg_img" data-background="/assets/images/banner/banner-bg-1.png">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-xl-6">
                    <div class="banner-content cl-white">
                        <h5 class="cate">حراج نسل بعدی</h5>
                        <h1 class="title"><span class="d-xl-block">مال خودت را پیدا کن</span> معامله بعدی</h1>
                        <p>
                            حراج آنلاین جایی است که همه با خرید تنوع و قیمت مناسب به خرید ، فروش و دادن کالا می روند.
                        </p>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-6">
                    <div class="banner-thumb-2">
                        <img src="/assets/images/banner/banner-1.png" alt="banner">
                    </div>
                </div>
            </div>
        </div>
        <div class="banner-shape d-none d-lg-block">
            <img src="/assets/css/img/banner-shape.png" alt="css">
        </div>
    </section>




  <div class="browse-section ash-bg">
        <div class="browse-slider-section mt--140">
            <div class="container">
                <div class="section-header-2 cl-white mb-4">
                    <div class="left">
                        <h6 class="title pl-0 w-100">موارد برجسته را مرور کنید</h6>
                    </div>
                    <div class="slider-nav">
                        <a href="#0" class="bro-prev"><i class="flaticon-right-arrow"></i></a>
                        <a href="#0" class="bro-next active"><i class="flaticon-left-arrow"></i></a>
                    </div>
                </div>
                <div class="m--15">
                    <div class="browse-slider owl-theme owl-carousel">
                      @foreach (var item in categories)
                      {
                          <a href="#0" class="browse-item">
                              <img src="@item.Image" alt="auction">
                              <span class="info">@item.CategoryName</span>
                          </a>
                      }
                    </div>
                </div>
            </div>
        </div>

    </div>
    
@foreach (var item in Model)
{
    <section class=" padding-bottom padding-top pos-rel">
        <div class="jewelry-bg d-none d-xl-block"><img src="@item.Category.Banner" alt="jewelry"></div>
        <div class="container">
            <div class="section-header-3">
                <div class="left">
                    <div class="thumb">
                        <img src="@item.Category.Image" alt="header-icons">
                    </div>
                    <div class="title-area">
                        <h2 class="title">@item.Category.CategoryName</h2>
                        <p>حراجی های آنلاین @item.Category.CategoryName که در آن می توانید اکنون پیشنهاد دهید و پس انداز کنید</p>
                    </div>
                </div>
                <a href="#0" class="normal-button">مشاهده همه</a>
            </div>
            <div class="row justify-content-center mb-30-none">
          
                @foreach (var product in item.Products)
                {
                                    <div class="col-sm-10 col-md-6 col-lg-4">
                    <div class="auction-item-2">
                        <div class="auction-thumb">
                            <a href="./product-details.html"><img src="@product.Image" alt="jewelry"></a>
                        </div>
                        <div class="auction-content">
                            <h6 class="title">
                                <a href="./product-details.html">@product.ProductName</a>
                            </h6>
                            <div class="bid-area">
                                <div class="bid-amount col-12">
                                    <div class="icon">
                                        <i class="flaticon-auction"></i>
                                    </div>
                                    <div class="amount-content">
                                        <div class="current">مبلغ پیشنهادی</div>
                                        <div class="amount">@product.Price.ToString("#,0") تومان</div>
                                    </div>
                                </div>
                            </div>
                            <div class="countdown-area col-12">
                                <span class="total-bids col-12 text-center">30 پیشنهاد</span>
                            </div>
                            <div class="text-center">
                                <a href="#0" class="custom-button">پیشنهاد دهید</a>
                            </div>
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>
    </section>

}




<section class="call-in-section padding-top pt-max-xl-0">
    <div class="container">
        <div class="call-wrapper cl-white bg_img" data-background="/assets/images/call-in/call-bg.png">
            <div class="section-header">
                <h3 class="title">ثبت نام رایگان و شروع پیشنهادات اکنون!</h3>
                <p>از ماشین گرفته تا الماس گرفته تا آیفون ، همه آن را داریم.</p>
            </div>
            <a asp-controller="Account" asp-action="SignUp" class="custom-button white">ثبت نام</a>
        </div>
    </div>
</section>
