@using Auction.Application.Utilities
@model Auction.Domain.ViewModels.ProductEditViewModel
@{
    ViewData["Title"] = "ویرایش";
}

<div class="hero-section style-2 pb-lg-400">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Index">خانه</a>
            </li>
            <li>
                <a asp-controller="Product" asp-action="Index">محصولات</a>
            </li>
            <li>
                <span>ویرایش</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>





<section class="dashboard-section padding-bottom mt--240 mt-lg--325 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <partial name="_Dashboard" />
            <div class="col-lg-8">
                <div class="dashboard-widget mb-40">
                    <div class="justify-content-center mb-30-none">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="UserId" value="@User.GetUserId()"/>
                            <input type="hidden" asp-for="ProductId" />
                            <div class="col-md-12 col-sm-12 ">
                                <label asp-for="CategoryId"></label>
                                <div class="form-group">
                                    <select asp-for="CategoryId" class="select2 form-control" asp-items="@(ViewData["Category"] as SelectList)">
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                                </div>
                            </div>
                            
                            <div class="col-md-12 col-sm-12 ">
                                <label asp-for="ProductType"></label>
                                <div class="form-group">
                                    <select asp-for="ProductType" class="select2 form-control" asp-items="@(ViewData["ProductType"] as SelectList)">
                                    </select>
                                    <span asp-validation-for="ProductType" class="text-danger"></span>

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 ">
                                <label asp-for="ProductName"></label>
                                <input type="text" asp-for="ProductName">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>


                            <div class="col-md-12 col-sm-12 ">
                                <label asp-for="Price"></label>
                                <input type="number" asp-for="Price">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 col-sm-12 ">
                                <label asp-for="File"></label>
                                <input type="file" class="custom-file" asp-for="File">
                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>



                            <div class="col-md-12 col-sm-12 ">
                                    <label asp-for="StartDate"></label>
                                    <input type="text" readonly="readonly" autocomplete="off" asp-for="StartDate">
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>


                            <div class="col-md-12 col-sm-12 ">
                                    <label asp-for="StartTime"></label>
                                    <input readonly="readonly" autocomplete="off" type="text" class=" demo-input" asp-for="StartTime">
                                    <span asp-validation-for="StartTime" class="text-danger"></span>
                            </div> 
                            
                            <div class="col-md-12 col-sm-12 ">
                                    <label asp-for="EndDate"></label>
                                    <input type="text" readonly="readonly" autocomplete="off" asp-for="EndDate">
                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>


                            <div class="col-md-12 col-sm-12 ">
                                    <label asp-for="EndTime"></label>
                                    <input readonly="readonly" autocomplete="off" type="text" class=" demo-input" asp-for="EndTime">
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>




                            <div class="col-md-12 col-sm-12 ">
                                <label asp-for="Description"></label>
                                <textarea type="text" rows="15" asp-for="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>


                            <div class="form-group d-flex mt-4 justify-content-end ">
                                <button type="submit" class="btn w-25 btn-primary">ثبت</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




@section style
    {
    <link rel="stylesheet" type="text/css" href="/assets/css/select/select2.min.css">

    <link href="/assets/calender/kamadatepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/js/clockpicker/clockpicker.css">

}


    @section script
    {
    <script src="/assets/js/select/select2.full.min.js"></script>
    <script src="/assets/js/select/form-select2.js"></script>


    <script src="~/assets/calender/kamadatepicker.min.js"></script>
    <script type="text/javascript" src="/assets/js/clockpicker/clockpicker.js"></script>


    <script>
        $("#product").addClass('active');

       

        $(document).ready(function() {


            $('.demo-input').clockpicker({
                autoclose: true
            });

            kamaDatepicker('@nameof(Model.StartDate)', {
                nextButtonIcon: "/assets/calender/1.png"
                , previousButtonIcon: "/assets/calender/2.png"
                , forceFarsiDigits: false
                , markToday: true
                , markHolidays: true
                , highlightSelectedDay: true
                , sync: true
                , gotoToday: true
            });



        });

        kamaDatepicker('@nameof(Model.EndDate)', {
            nextButtonIcon: "/assets/calender/1.png"
            , previousButtonIcon: "/assets/calender/2.png"
            , forceFarsiDigits: false
            , markToday: true
            , markHolidays: true
            , highlightSelectedDay: true
            , sync: true
            , gotoToday: true
        });

    </script>
}
