@using Auction.Domain.Convertors
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Auction.Domain.Models.Product>
@{
    ViewData["Title"] = "محصولات";
    int cnt = 1;
}

<div class="hero-section style-2 pb-lg-400">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a asp-controller="Home" asp-action="Index">خانه</a>
            </li>
            <li>
                <span>محصولات</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="/assets/images/banner/hero-bg.png"></div>
</div>

<section class="dashboard-section padding-bottom mt--240 mt-lg--325 pos-rel">
    <div class="container">
        <div class="row justify-content-center">
            <partial name="_Dashboard" />
            <div class="col-lg-8">
                <div class="dashboard-widget">
                    <div class="dashboard-purchasing-tabs">
                            <a  asp-controller="Product" asp-action="Create"class="btn col-lg-2 btn-primary mb-4 mr-1">افزودن</a>
                        <div class="tab-content">
                            <div class="tab-pane show active fade">
                                <table class="purchasing-table">
                                    <thead>
                                    <th>ردیف</th>
                                    <th>نام</th>
                                    <th>دسته بندی</th>
                                    <th>مبلغ</th>
                                    <th>تاریخ شروع </th>
                                    <th>تاریخ پایان </th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                       @foreach (var item in Model)
                                       {
                                           <tr id="Product_@(item.ProductId)">
                                               <td >@cnt</td>
                                               <td >@item.ProductName</td>
                                               <td >@item.Category.CategoryName</td>
                                               <td >@item.Price.ToString("#,0 تومان")</td>
                                               <td >@item.StartDate.ToShamsiTime()</td>
                                               <td >@item.EndDate.ToShamsiTime()</td>
                                               <td>
                                                   <a asp-controller="Product" asp-action="Edit" asp-route-id="@item.ProductId" class="mr-2"><i class="fas fa-edit text-info"></i></a>
                                                   <a asp-controller="ProductFeature" asp-action="Index" asp-route-id="@item.ProductId" class="mr-2"><i class="fas fa-exclamation-triangle  text-info"></i></a>
                                                   <a asp-controller="ProductTag" asp-action="Index" asp-route-id="@item.ProductId" class="mr-2"><i class="fas fa-tag  text-info"></i></a>
                                                   <a asp-controller="ProductImage" asp-action="Index" asp-route-id="@item.ProductId" class="mr-2"><i class="fas fa-image  text-info"></i></a>
                                                   <a onclick="DeleteProductId(@item.ProductId)" class="mr-2"><i class="fas fa-trash-alt text-info"></i></a>
                                               </td>
                                           </tr>
                                           cnt++;
                                       }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section script
{
    
    <script src="/assets/js/sweetalert2.all.min.js"></script>

    <script>
        $("#product").addClass('active');
    </script>
    
    <script>
        function DeleteProductId(id) {

            Swal.fire({
                title: 'آیا مطمئنید؟',
                text: "این عمل قابل بازگشت نخواهد بود!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'تایید',
                confirmButtonClass: 'btn btn-primary',
                cancelButtonClass: 'btn btn-danger ml-1',
                cancelButtonText: 'انصراف',
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    $.get("/Product/Delete/" + id,
                        function (data) {
                            if (data) {
                                $("#Product_" + id).hide('slow');

                                Swal.fire({
                                    type: "success",
                                    title: 'حذف شد!',
                                    text: ' محصول با موفقیت حذف شد',
                                    confirmButtonClass: 'btn btn-success',
                                    confirmButtonText: 'باشه',
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "خطا!",
                                    text: "حذف با خطا مواجه شد!",
                                    type: "error",
                                    confirmButtonClass: 'btn btn-primary',
                                    confirmButtonText: 'باشه',
                                    buttonsStyling: false,
                                });
                            }


                        });
                }
            });

        }
    </script>
}
